<html>
  <head>
    <title>4XX</title>
    <meta charset="utf8" ></meta>
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <link rel="stylesheet" href="css/4xx.css">
  </head>
  <body>


    <div id="e4xx">
      <p> 4 X.X Client Error</p>
    </div>
    <div id="escrito">
      <p>
        Você errou essa igual costuma errar hook

      </p>

    </div>
  </body>
</html>
