<html>
  <head>
    <title>5XX</title>
    <meta charset="utf8" ></meta>
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <link rel="stylesheet" href="css/5xx.css">
  </head>
  <body>


    <div id="e5xx">
      <p> 5 X.X Server Error  </p>
    </div>
    <div id="escrito">
      <p>
        Desculpe, não estavamos devidamente preparados para esse jogada!! Vamos treinar nos DoomBots of Doom XD

      </p>

    </div>
  </body>
</html>
