<hmtl>
  <head>
    <title>Champion League</title>
     <meta charset="utf8" ></meta>
     <meta name="viewport" content="width=device-width, user-scalable=no">
    <link rel="stylesheet" href="css/corpo.css">
    <link rel="stylesheet" href="css/cabecalho.css">
    <link rel="stylesheet" href="css/footer.css">
    <link rel="stylesheet" href="css/cadastro.css">
    <link rel="stylesheet" href="css/login.css">
    <link href='http://fonts.googleapis.com/css?family=Goudy+Bookletter+1911' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=New+Rocker' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Coda' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Cinzel+Decorative:700' rel='stylesheet' type='text/css'>


  </head>

  <body id="corpo">
    <header>
      <h1>Campeonatos Irados</h1>
    </header>
    <div class='login'>
      <form>
        <strong>User:</strong>
        <div>
          <input type="text" name="loginnome" required/>
        </div>

        <strong>Password:</strong>
        <div>
          <input type='password' name='loginsenha' required/>
        </div>
        <button class='next' type='loginbutton'>Login</button>
      </form>
    </div>

    <nav class='menu'>
      <div class='logo'><img src="../imgs/GM_logo.jpeg"></div>
      <ul>
        <li >
          <a href="/" class="item-menu">INICIO</a>
        </li>
        <li >
          <a href="#" class="item-menu" id="campeonato">CAMPEONATO</a>
          <div class="sub-conteudo">
            <div class="menu-sub">
              <ul>
                <li>
                  <a href="cadastrocamp">CRIAR NOVO</a>
                </li>
                <li>
                  <a href="lista">CAMPEONATOS</a>
                </li>
              </ul>
            </div>
          </div>
        </li>
        <li >
          <a href="cadastro" class="item-menu">REGISTRO</a>
        </li>
        <li>
          <a href="#" class="item-menu" id="login">LOGIN</a>
        </li>
        <li>
          <a href="criar-time" class="item-menu" id="criar-time">CRIAR TIME</a>
        </li>
      </ul>
      <div class = 'tag-menu'><p>Menu</p></div>

    </nav>
    {{#if success}}
      <div class="success" role="alert" id="acertolista">
          <div class="textoacerto"><strong>Sucesso!</strong> {{success}}</div>

      </div>
    {{/if}}
    {{#if error}}
      <div class="error" role="alert" id="errolista">

        <div class="textoerro"><strong>Erro!</strong> {{error}}</div>
      </div>
    {{/if}}

    <div class='conteudo'>
      <div class='conteudo-esquerda'>
        <p>Junte-se a nós <br> Não dói nada!<br>É de grátis!</p>

      </div>

      <div class='conteudo-cadastro'>
        <form action="/cadastro" method="post">
           <strong>  Nome: </strong>
           <div id="alinhado" >
             <input type="text" name="fname" placeholder="Nome" size=20px required>
             <input type="text" name="lname" placeholder="Sobrenome" size=20px required>
           </div>

            <strong>Sexo:</strong>
            <div id="sexo">
              <input type="radio" name="sex" value="male">Male
              <input type="radio" name="sex" value="Female">Female
              <input type="radio" name="sex" value="Female">Other
            </div>

            <strong>Email:</strong>
            <div id="alinhado">
              <input type="email" name="email" placeholder="exemplo@email.com" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"  required>
            </div>

            <strong>Username:</strong>
            <div id="alinhado">
              <input type="text" name="uname" placeholder="Username" required>
            </div>

            <strong>Senha:</strong>
            <div id="alinhado">
              <input type="password" pattern="(?=.*\d)(?=.*[a-zA-Z]).{8,50}" name="senha" placeholder="Senha" title="Senha de 8 a 50 dígitos com no mínimo uma letra e um número" required>
            </div>

            <strong>Repita a senha:</strong>
            <div id="alinhado">
              <input type="password" name="senhaconfirma" placeholder="Insira novamente a Senha" required>
            </div>

            <button class='next' type='submit'>Next</button>

        </form>
      </div>
  </div>


    <footer>
      <ul class='footer'>
        <li>Contact us</li>
        <li><a href="https://twitter.com/MattarGabriel">@MattarGabriel</a><img src='http://www.sketchappsources.com/resources/source-image/twitterlogo_1x.png'></img></li>
        <li><a href="https://twitter.com/marcheziniXD">@marcheziniXD</a><img src='http://www.sketchappsources.com/resources/source-image/twitterlogo_1x.png'></img></li>
      </ul>
    </footer>


  <script src='js/login.js'></script>
  <script src='js/submenu.js'></script>
  <script src='js/someerro.js'></script>
  <script src='js/someacerto.js'></script>
  <script src='js/background.js'> </script>
  </body>

</hmtl>
