<html>
  <head>
    <title>404</title>
    <meta charset="utf8" ></meta>
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <link rel="stylesheet" href="css/404.css">
  </head>
  <body>


    <div id="e404">
      <p> 404 PAGE NOT FOUND </p>
    </div>
    <div id="escrito">
      <p>
        It seems we could not find the path. You need to ward the map correctly!

      </p>

    </div>
  </body>
</html>
