<hmtl>
  <head>
    <title>Champion League</title>
     <meta charset="utf8" ></meta>
     <meta name="viewport" content="width=device-width, user-scalable=no">
    <link rel="stylesheet" href="css/corpo.css">
    <link rel="stylesheet" href="css/cabecalho.css">
    <link rel="stylesheet" href="css/frontpage.css">
    <link rel="stylesheet" href="css/footer.css">
    <link rel="stylesheet" href="css/login.css">

    <link href='https://fonts.googleapis.com/css?family=Catamaran' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Goudy+Bookletter+1911' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Coda' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Cinzel+Decorative:700' rel='stylesheet' type='text/css'>

  </head>

  <body id="corpo">
    <header>

      <h1>Campeonatos Irados</h1>
    </header>
    <div id='logado'>{{userlog}}<br>
    <a href="/logout" class="logout">logout</a>
    </div>

    <div class='login' >
      <form action= "/login" method="post">
        <strong>User:</strong>
        <div>
          <input type="text" name="username" required/>
        </div>

        <strong>Password:</strong>
        <div>
          <input type='password' name='password' required/>
        </div>
        <button class='next' type='loginbutton'>Login</button>
      </form>
    </div>

    <nav class='menu'>
      <div class='logo'><img src="../imgs/GM_logo.jpeg"></div>
      <ul>
        <li >
          <a href="/" class="item-menu">INICIO</a>
        </li>
        <li >
          <a href="#" class="item-menu" id="campeonato">CAMPEONATO</a>
          <div class="sub-conteudo">
            <div class="menu-sub">
              <ul>
                <li>
                  <a href="cadastrocamp">CRIAR NOVO</a>
                </li>
                <li>
                  <a href="lista">CAMPEONATOS</a>
                </li>
              </ul>
            </div>
          </div>
        </li>
        <li >
          <a href="cadastro" class="item-menu">REGISTRO</a>
        </li>
        <li>
          <a href="#" class="item-menu" id="login">LOGIN</a>
        </li>
        <li>
          <a href="criar-time" class="item-menu" id="criar-time">CRIAR TIME</a>
        </li>
      </ul>
      <div class = 'tag-menu'><p>Menu</p></div>

    </nav>

        {{#if success}}
          <div class="success" role="alert" id="acertolista">
              <div class="textoacerto"><strong>Sucesso!</strong> {{success}}</div>

          </div>
        {{/if}}
        {{#if error}}
          <div class="error" role="alert" id="errolista">

            <div class="textoerro"><strong>Erro!</strong> {{error}}</div>
          </div>
        {{/if}}


    <div class='conteudo'>
        <div class='bolinha'>
          <p>Crie <br>campeonatos <br><strong>INSANOS </strong></p>
        </div>
        <div class='bolinha'>
          <p><br>Divirta-se <br><strong>DEMAIS</strong></p>
        </div>
        <div class='bolinha'>
          <p><br>Pode enxugar essas lágrimas <br><strong>!!!</strong></p>
        </div>

        <div class='bolinha'>
          <p><br>Cadastre-se de <br>GRÁTIS<br><strong>!!!!</strong></p>
        </div>
        <div class='bolinha'>
          <p><br>Cara, o que tu tá esperando<br><strong>???</strong></p>
        </div>
        <div class='bolinha'>
          <p><br>Voce não se arrependerá <br><strong>!!!</strong></p>
        </div>
    </div>

    <footer>
      <ul class='footer'>
        <li>Contact us</li>
        <li><a href="https://twitter.com/MattarGabriel">@MattarGabriel</a><img src='http://www.sketchappsources.com/resources/source-image/twitterlogo_1x.png'></img></li>
        <li><a href="https://twitter.com/marcheziniXD">@marcheziniXD</a><img src='http://www.sketchappsources.com/resources/source-image/twitterlogo_1x.png'></img></li>
      </ul>
    </footer>

    <script src='js/audio.js'></script>
    <script src='js/login.js'></script>
    <script src='js/someerro.js'></script>
    <script src='js/someacerto.js'></script>
    <script src='js/submenu.js'></script>
    <script src='js/background.js'> </script>
  </body>

</hmtl>
