#e404{
  padding-top: 10px;
  padding-right: 20px;
  font-size: 40px;
  text-align: center;
  color: white;
}
#escrito{
  padding-right: 20px;
  font-size: 40px;
  text-align: center;
  color: white;

}

body{
  background-image: url("../imgs/map.jpg");
  background-size: cover;
  margin: 0;
  position: static;
  clear: both;

  background-repeat:   no-repeat;
  background-position: center;
  height: 100%;
  display: block;
  overflow: hidden;
}
