
.conteudo-cadastro{
  background-color: #330033;
  border: 2px solid darkgreen;
  border-radius: 3px;
  margin: 0 auto;
  padding-top: 20px;
  box-shadow: 5px 5px 5px black;
  width: 80%;
}
.conteudo-cadastro #participantes{
  width: 100%;
  padding-top: 5px;

}
.conteudo-cadastro form button{
  margin: 10px 10px;
  padding:5px 20px;
  background:white;
  border:0;
  border-radius: 2px;
  color: green;
  font-family: 'Catamaran', sans-serif;
  font-size: 18px;
  outline: 0;
}

.bmaismenos[type=button] {
  box-sizing: border-box;
  padding: 0px;
  margin-bottom: 10px;
  width: 30px;
  height: 30px;
  outline: 0;
}
.conteudo-cadastro .alinhado{
  padding-top: 20px;
  padding-bottom: 20px;

}
.conteudo-cadastro strong{
  display: inline-block;
  width: 100%;
  font-family: 'Catamaran', sans-serif;
  margin: 20px 0px 0px 0px;
  font-size: 30px;
  color: white;
  line-height: 1em;
  font-weight: normal;
  text-align: center;

}

h2{
  color: white;
  font-size: 30px;
  font-family: 'Catamaran', sans-serif;

}
::-webkit-input-placeholder { /* For WebKit browsers */
    color:    green;
                font-family:Helvetica Neue;
                font-weight:bold;
}

:-moz-placeholder { /* For Mozilla Firefox 4 to 18 */
    color:    green;
                font-family:Helvetica Neue;
                font-weight:bold;
}

::-moz-placeholder { /* For Mozilla Firefox 19+ */
    color:   green;
                font-family:Helvetica Neue;
                font-weight:bold;
}

:-ms-input-placeholder { /* For Internet Explorer 10+ */
    color:    green;
                font-family:Helvetica Neue;
                font-weight:bold;
}

.adicionar .bmaismenos:hover,
.submitn:hover,
.next:hover{
  box-shadow: 5px 5px 5px black;
  color: white;
  background-color: green;
  transform: translateY(-3px);
  border-color: green;

  outline: 0;
}
.adicionar .bmaismenos:active,
.submitn:active,
.next:active{
  box-shadow: 5px 5px 5px black;
  color: #e0e0d2;
  background-color: #1f7a1f;
  transform: translateY(-3px);
  outline: 0;

}

form input {
    -webkit-appearance: none;
    appearance: none;
    display: inline-block;
    height: 29px;
    margin: 5px 5px;
    padding: 0 8px;
    background: #fff;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
}

form input:hover {
    border: 1px solid #b9b9b9;
    border-top: 1px solid #a0a0a0;
    -webkit-box-shadow: inset 0 3px 3px rgba(0,0,0,0.2);
    -moz-box-shadow: inset 0 3px 3px rgba(0,0,0,0.2);
    box-shadow: inset 0 3px 3px rgba(0,0,0,0.2);
}

.error {
  position: absolute;
  top: 0;
  bottom: 0;
  height: 80px;;
  width: 100%;
  opacity: 1;
  background-color: #D80909;
  text-align: center;
  border-radius: 10px;



}

.textoerro{
  padding-top: 2%;

}

.pula {
  transition: transform 1s;
}

.desce {
  transition: transform 5s;
  transform:  translateY(-1000px);
}
.suceso {
  position: absolute;
  top: 0;
  bottom: 0;
  height: 80px;
  width: 100%;
  opacity: 1;
  background-color: #44B711
  text-align: center;
  border-radius: 10px;



}
.textoacerto{
  padding-top: 2%;

}
